body{
    background-color:rgb(13, 13, 78)
}
p{
    color:aliceblue;
}


h1{
    color:red;
    text-align:center;
    text-decoration: green underline ;
    text-decoration-style:double;    
}
#zero{
    color:rgb(33, 158, 62);
}
main{
    ul{ 
        li{
            color: rgb(134, 134, 203);
            font-size: 18px;
        }
    }
}
p{
    color:aliceblue
}
main{
    ul{
        li{
            color: rgb(231, 231, 244);
            font-size: 18px;
        }
    }
}
#oneZeroTwo{
    h2{
        color:rgb(128, 233, 23)
    }
    ol{
        li{
            color:aliceblue;
            font-size:18px ;
        }
    }
}
#one{
    color:rgb(229, 55, 55);
}
#oneZeroThree{
    h2{
        color:rgb(244, 111, 111)
    }
    ol{
        li{
            color: aliceblue;
            font-size:18px ;
        }
        .myClass{
            color:rgb(220, 158, 158);
            font-size:18px ;
        }
    }
}
#oneZeroFour{
    h2{
        color:rgb(11, 237, 162);
    }
    ol{
        li{
            color:rgb(215, 134, 13);
            font-size:18px ;
        }ol{
            li{
                color:aliceblue;
                font-size:18px ;

            }
        }
       li{
        color:rgb(218, 136, 14);
        font-size:18px ;
    }ol{
        li{
            color:aliceblue;
            font-size:18px ;
            ul{
                li{
                    color:aliceblue;
                    font-size:18px;
                }
            }
        }
       }
       
   }
}

#oneZeroFive{
    color:aliceblue;
    font-size: 20px;
    
}
#oneZeroSix{
    h2{
        color:rgb(238, 47, 149);

    }
    ol{
       li{ color:rgb(175, 143, 63);
        font-size:18px ;
        
       }ul{
        li{
            color:aliceblue;
            font-size:18px;
        }
       }


    }
    
}